.card-container {
    display: flex;
    padding: 10px 40px 40px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.record-card {
    border-radius: 20px;
    min-width: 150px;
    padding: 25px;
    cursor: pointer;
    border: 1px solid black;
    margin: 10px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.record-card.selected {
    border: 1px solid #0071e3;
}

.record-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.record-info {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

.select-record-type {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    font-size: 20px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.select-record-type>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-bottom: 3px;
    margin-top: 3px;
}
.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 250;
}