h1 {
    text-align: center;
    display: block;
    font-size: 50px;
    line-height: 1.08349;
    font-weight: 600;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 30px;
    margin-bottom: 0;
}

.container {
    display: flex;
    padding: 10px 40px 40px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.buttons-div {
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
}
.buttons-div>a:hover{
    color:white;
}
.buttons-div:hover{
    background-color: black;
}

.buttons-div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 250;
    text-decoration: none;
    color: black;
    font-size: 25px;
    width: 100%;
    height: 100%;
}